/* CreateBlog.module.css */
.editorPage {
  max-width: 800px;
  margin: auto;
  margin-top: 80px;
  padding: 20px;
  background-color: var(--color-tile-background);
  color: var(--color-tile-text);
  border-radius: 8px;
}

.editorPage input {
  background-color: var(--color-tile-background);
  border: 1px solid var(--color-navbar-background);
  border-radius: 8px;
  color: var(--color-tile-text);
}

.editorPage > h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 2rem;
}

.titleInput {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
}

.smallerInput {
  width: 100%;
  border: 1px solid var(--color-navbar-background);
  font-size: 1rem;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
}

.toolbar {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.toolbarButton {
  background-color: white;
  align-items: center;
  width: 30px;
  padding: 5px;
  color: black;
  border: none;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.activeButton {
  background-color: var(
    --color-button-background
  ); /* A darker blue for active state */
  color: white;
}

.toolbar img {
  width: 15px;
  height: auto;
}

.editorContainer {
  border: 1px solid var(--color-navbar-background);
  border-radius: 8px;
  min-height: 300px;
  padding: 10px 30px;
  background-color: var(--color-tile-background);
}

/* Editor styles */
.editorContainer :global(.ProseMirror) {
  color: var(--color-tile-text);
}

.submitButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
