.flexwrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  height: fit-content;
  padding: 1rem;
}

.content {
  height: fit-content;
  background-color: var(--color-tile-background);
  color: var(--color-tile-text);
  padding: 1rem;
  border-radius: 8px;
  height: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.text {
  text-align: left;
}

.separator {
  border: none;
  height: 2px;
  background-color: var(--color-navbar-background);
  margin: 1rem 0;
  width: 100%;
}

.userinfo p {
  border-radius: 8px;
  padding: 3px;
  font-size: 1.3rem;
  margin: 0.5rem;
}

.userinfo textarea {
  background-color: #f0f0f0;
  padding: 3px;
  margin-left: 0.8rem;
  width: 95%;
}
