.tileGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  min-height: 600px; /* 👈 adjust as needed based on tile size */
}

.tripTile {
  background-color: var(--color-tile-background);
  box-shadow: var(--shadow-elevated);
  border: #e6f0ff;
  color: var(--color-tile-text);
  padding: 1.4rem;
  border-radius: 8px;
  width: 250px;
  cursor: pointer;
  transition: 0.2s ease;
  height: auto;
  min-height: 350px;
}

.tripTile strong {
  color: var(--color-tile-text);
  font-weight: 900;
}

.tripTile:hover {
  transform: scale(1.01);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.pagination button {
  background-color: var(--color-tile-background);
  color: var(--color-tile-text);
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.pagination button:hover {
  background-color: #007bff;
}

.pageButton {
  padding: 0.4rem 0.8rem;
  background-color: #e0e0e0;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.pageButton:hover {
  background-color: #666;
}

.pageButton.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.ellipsis {
  padding: 0 0.5rem;
  color: #999;
}

.tileImage {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

.imagePlaceholder {
  width: 100%;
  height: 140px;
  background-color: #ccc;
  border-radius: 6px;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
  background-color: rgba(255, 0, 0, 0.7); /* semi-transparent red */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  pointer-events: none; /* allows clicks to pass through */
}

.deleteConfirmButtons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.noButton {
  background-color: grey;
}

.yesButton {
  background-color: red;
}

.noButton,
.yesButton {
  padding: 5px;
  width: 50px;
  border: none;
  border-radius: 5px;
}

.searchBar {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.searchBar input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.tripTile h3 {
  font-size: 1.5rem;
}

.tripTile p {
  font-size: 1rem;
}
